.FootertAll{
    background-image: url("E:\training\react-project\react-project\src\assets\wave.svg");
    background-size: cover;
    height: 18.5rem;
    padding: 1rem 4rem;
}
.FootertAll .first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
}
.FootertAll .first .logo h2{
    color: #fff;
}
.FootertAll .first .flexFooter{
    display: flex;
    align-items: center;
    gap: 10px;
}
.FootertAll .first .flexFooter h5{
    font-size: 0.95rem;
    color: #fff;
    font-weight: normal;
}
.FootertAll .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 0;
    padding: 1rem;
    border-top: 1.4px solid rgba(255, 255, 255, 0.537);
}
.FootertAll .second ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.FootertAll .second ul a{
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
}
.FootertAll .second a:hover{
    color: green;
}
.FootertAll .second .social_media{
    display: flex;
    gap: 1.7rem;
    margin: 0 15px;
}
.FootertAll .second .social_media i{
    font-size: 1.3rem;
}
.FootertAll .second h6{
    color: #fff;
    font-weight: normal;
    font-size: 0.7rem;
}
@media screen and (max-width:910px){
    .FootertAll{
        height: 28rem;
        padding: 1rem 4rem;
        align-items: center;
    }
    .FootertAll .first{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    .FootertAll .second{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 25px;
    }
    .FootertAll .second ul{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
    .FootertAll .second .social_media{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width:560px){
    .FootertAll .second{
        gap: 15px;
    }
    .FootertAll .second ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
}
@media screen and (max-width:460px){
    .FootertAll{
        padding: 1rem  3rem;
        height: 33rem;
    }
    .FootertAll .first{
        gap: 5px;
        padding: 1rem  6rem;
    }
    .FootertAll .first{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 25px;
    }
    .FootertAll .first .flexFooter{
        margin-left: 35px;
    }
    .FootertAll .second{
        margin: 1rem;
    }
}
