*{
    margin: 0;
    padding: 0;
}
/*this is for the other hero's pages */
.heroSecond{
    color: #fff;  
    background-size: cover;
    background-position: 0%;
}
.heroSecond .heroSecond_bg{
    padding: 10rem 5rem 2rem;
    height: 180px;
    background-color: rgba(21, 20, 20, 0.532);
}
.heroSecond p{   
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.heroSecond h2{
    font-size: 2.2rem;
    font-weight: normal;
}
.hero{    
    background-image: url("E:\training\react-project\react-project\src\assets\hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    height: 500px;
}
.hero_text{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-top: 8rem;
}
p{
    text-align: center;
    margin-top: 12px;
    color: #fff;
    font-weight: 200;
}
form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 5rem 2rem;
    padding: 1rem 2rem 2rem 0.5rem;
    background-color: #fff;
    border-radius: 20px;
}
form div h5{
    font-size: 1rem;
    margin-bottom: 6px;
    font-weight: 350;
    color: grey;    
}
form div input{
    padding: 0.3rem;
}
form div input::placeholder{
    color: #000;
    font-weight: 400;
    font-size: 0.85rem;
}
form div:last-child{
    display: flex;
    height: fit-content;
    transform: translateY(75%);
    align-items: center;
    gap: 10px;
}
form div:last-child h3{
    height: fit-content;
}
form div:last-child span{
    background: green;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 1.2rem;
    color: #fff;
}
@media screen and (max-width:850px){
    form div:last-child{
        transform: translateY(35%);
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width:790px){
    .hero_text{
        padding-top: 4rem;
    }
    .hero{
        height: 570px;
    }
    .heroSecond p{
        margin-top: 0rem;
    }
    .heroSecond p,.heroSecond h2{   
        text-align: center;
    }
    form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 2rem 2rem;
        text-align: start;
        gap: 1rem;
        border-radius: 20px;
    }
    form div input{
        padding: 0.3rem;
        width: 100%;
    }
    form div:last-child{
        justify-content: space-between;
        gap: 0px;
    }
}
@media screen and (max-width:390px){
    .hero{
        height: 650px;
    }
}